/* Define color variables */
:root {
    --light-gray: #F5F5F5;
    --navy: #1C1C1E;
    --bright-blue: #2979FF;
    --text-color: #333;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--light-gray);
    color: var(--text-color);
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    padding: 20px;
}

footer {
    flex-shrink: 0;
    background-color: var(--navy);
    color: var(--light-gray);
    text-align: center;
    padding: 10px 0;
    min-height: fit-content;
}